* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding:0;
}
a {
    color: cornflowerblue;
    font-size: 15px;
}
body {
    background: #0d0d0d;
    color: white;
}
div {
    margin: 0px 0px 0px 1380px;
}
b {
    color: yellow
}
.size {
    width: 450px;
    height: 3449px;
}
.S1 {
    width: 694px;
    height: 140px;
    bottom: 0;
    right: 0;
    margin: 25px 100px 0px 500px;
    float: left;
}
.S1M {
    width: 306px;
    height: 43px;
    bottom: 0;
    right: 0;
    margin: 100px 100px 0px 500px;
    float: left;
}
.test2 {
    width: 516px;
    height: 706px;
}

.FL {
    width: 705px;
    height: 125px;
    bottom: 0;
    right: 0;
    float: left;
    margin: 25px 0px 0px 500px;
}
.FLM {
    width: 300px;
    height: 43px;
    bottom: 0;
    right: 0;
    float: left;
    margin: 100px 0px 0px 500px;
}
.test1 {
    width: 516px;
    height: 706px;
}

.ELECTR {
    width: 705px;
    height: 125px;
    bottom: 0;
    right: 0;
    float: left;
    margin: 25px 0px 0px 500px;
}
.ELEC {
    width: 300px;
    height: 43px;
    bottom: 0;
    right: 0;
    float: left;
    margin: 100px 0px 0px 500px;
}
.test3 {
    width: 516px;
    height: 706px;
}
.BOOM {
    width: 705px;
    height: 125px;
    bottom: 0;
    right: 0;
    float: left;
    margin: 25px 0px 0px 500px;
}
.BOO {
    width: 300px;
    height: 43px;
    bottom: 0;
    right: 0;
    float: left;
    margin: 100px 0px 0px 500px;
}
.test4 {
    width: 516px;
    height: 706px;
}
.PERFEC {
    width: 705px;
    height: 125px;
    bottom: 0;
    right: 0;
    float: left;
    margin: 25px 0px 0px 500px;
}
.PER {
    width: 300px;
    height: 43px;
    bottom: 0;
    right: 0;
    float: left;
    margin: 100px 0px 0px 500px;
}
.test5 {
    width: 516px;
    height: 706px;
}

.amim1 {
    width: 420px;
    height: 629px;
    margin: 0px 0px 0px 0px;
    animation-duration: 3s;
    animation-name: slidein;
    
}

    @keyframes slidein {
        from {
            margin-left: 100%;
            width: 300%;
        }

        to {
            margin-left: 0%;
            width: 100%;
        }
    }
.amim2 {
    width: 456px;
    height: 627px;
    margin: 0px 0px 0px 0px;
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}
.amim3 {
    width: 449px;
    height: 627px;
    margin: 0px 0px 0px 0px;
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}
.amim4 {
    width: 498px;
    height: 623px;
    margin: 0px 0px 0px 0px;
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}
.amim5 {
    width: 497px;
    height: 634px;
    margin: 0px 0px 0px 0px;
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}
@media all and (width: 320px) {
}
